article {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.post-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: #EDE8E1;
}

.post-date {
    text-align: center;
    color: #aaa;
    margin-bottom: 20px;
}

.post-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.post-image img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.post-content {
    line-height: 1.6;
    color: #EDE8E1;
}

.post-content p {
    margin-bottom: 15px;
}


.back-button {
    display: none; 
}


@media (max-width: 768px) {
    .back-button {
        display: none;
    }
}
