.header-section {
    margin-bottom: 40px;
}

.new-post-section {
    text-align: center;
    margin-bottom: 40px;
}

.add-post-button {
    background-color: #8AA784;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.edit-posts-section {
    margin-top: 30px;
    margin-bottom: 40px;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.post-item {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    background-color: #EDE8E1;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.post-item img {
    width: 120px; 
    height: 120px; 
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px; 
}

.post-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1; 
}

.post-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.post-content h3 {
    margin: 0; 
    font-size: 1rem; 
    font-weight: 600;
    line-height: 1.3; 
    color: #333; 
}

.post-info {
    display: flex;
    gap: 10px; 
    align-items: center; 
    margin-left: auto; 
}

.edit-button, .delete-button {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button {
    background-color: #8AA784;
    color: white;
}

.delete-button {
    background-color: #D9534F;
    color: white;
}

hr {
    border: 1px solid white;
    margin: 20px 0;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #EDE8E1;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.popup-content h2 {
    text-align: center; 
    color: #333; 
    margin: 0;
    font-size: 1.5rem;
}

.popup-content input,
.popup-content textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup-content button {
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}
