.login-container {
    padding: 40px; 
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto; 
}

.text-container {
    margin-bottom: 30px; 
}

h1 {
    font-size: 28px; 
    margin-bottom: 15px; 
    color: #FFFFFF; 
}

p {
    font-size: 16px;
    margin-bottom: 40px; 
    color: #FFFFFF; 
}

.input-group {
    margin-bottom: 25px; 
    text-align: left; 
}

.input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px; 
    color: #FFFFFF; 
}

.input-group input {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #3D4435; 
    border-radius: 8px;
    background-color: #EDE8E1; 
    color: #3D4435; 
}

#loginButton {
    background-color: #8AA784; 
    color: #EDE8E1; 
    font-size: 16px;
    padding: 14px 20px; 
    border: none;
    border-radius: 12px; 
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

#loginButton:hover {
    background-color: #A1B88D; 
    color: #EDE8E1;
}

.error-message {
    color: red;
    display: none; 
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.error-message.show {
    display: block;
    padding: 10px;
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb; 
    border-radius: 5px;
}
