* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #3D4435;
    color: #EDE8E1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
}

.logo, .responsive-logo-link, .responsive-logo {
    font-size: 3rem !important;
    text-align: center;
    color: #EDE8E1;
    text-decoration: none;
    font-weight: bold;
}

header h1 {
    font-size: 28px !important;
    text-align: center;
    margin-bottom: 10px;
    color: #EDE8E1;
}

.desktop-nav .nav-text {
    font-size: 20px;
    color: #EDE8E1;
    text-decoration: none;
    margin-top: 10px;
}

.responsive-logo {
    margin-bottom: 50px;  
}

.register-button {
    background-color: #8AA784; 
    color: #FFFFFF; 
    border: none; 
    padding: 10px 20px;  
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 40px;
    font-size: 16px;
}

.register-button:hover {
    background-color: #6f9a67;
}

#username-display {
    color: #EDE8E1; 
    font-size: 20px;  
    margin-bottom: 10px; 
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 100px auto 40px auto;
    padding: 0 20px;
}

main h2 {
    font-size: 24px;
    color: #EDE8E1;
    text-align: center;
    margin-bottom: 20px;
}

.centered-text {
    color: #EDE8E1;
    line-height: 1.8;
    text-align: center;
    max-width: 80%;
    margin-bottom: 20px;
    padding: 0 15px;
}

.section-divider {
    width: 90%; 
    max-width: 1200px; 
    margin: 30px auto; 
    border: none;
    border-top: 2px solid #EDE8E1; 
}

footer {
    background-color: #A1A69A;
    padding: 20px 15px;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

footer p {
    color: #000000;
    font-weight: bold;
    margin-bottom: 15px;
}

.newsletter-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.newsletter-signup input[type="email"] {
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 200px;
}

.newsletter-signup button {
    background-color: #A8D5BA;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#joinPopup, #hamburgerPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.logout-button {
    background-color: #8AA784;  
    color: #FFFFFF; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 20px; 
}

.logout-button:hover {
    background-color: #8AA784;
}
