* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #3D4435;
    color: #EDE8E1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
}

.logo, .responsive-logo-link, .responsive-logo {
    font-size: 3rem !important;
    text-align: center;
    color: #EDE8E1;
    text-decoration: none;
    font-weight: bold;
}

header h1 {
    font-size: 28px !important;
    text-align: center;
    margin-bottom: 10px;
    color: #EDE8E1;
}

.nav-text, .logout-button, .register-button, .login-button, .edit-button {
    text-decoration: none;
    color: #EDE8E1;
    padding: 10px 20px;
    background-color: #8AA784;  
    border-radius: 25px;
    font-size: 16px;
    display: inline-block;
    margin-left: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none; 
}

.nav-text:hover, .logout-button:hover, .register-button:hover, .login-button:hover, .edit-button:hover {
    background-color: #6f9a67;  
    transform: scale(1.05); 
}

nav a, nav button {
    cursor: pointer;
}

.desktop-nav {
    font-size: 20px;
    color: #EDE8E1;
    text-decoration: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsive-logo {
    font-size: 3rem !important;
    text-align: center;
    color: #EDE8E1;
    margin-bottom: 50px;
}

footer {
    background-color: #A1A69A;
    padding: 20px 15px;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

footer p {
    color: #000000;
    font-weight: bold;
    margin-bottom: 15px;
}

.newsletter-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.newsletter-signup input[type="email"] {
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 200px;
}

.newsletter-signup button {
    background-color: #A8D5BA;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #3D4435;
  }