.add-post-section {
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: #3D4435; 
}

.add-post-section form {
    display: flex;
    flex-direction: column;
    gap: 20px;  
}

.input-group {
    margin-bottom: 25px; 
    text-align: left; 
}

.input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #FFFFFF; 
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 20px;
    padding-left: 20px; 
    padding-right: 200px; 
    font-size: 16px;
    border: 1px solid #3D4435; 
    border-radius: 8px;
    background-color: #EDE8E1;  
    color: #3D4435;  
    resize: none; 
}


.add-post-section button {
    background-color: #8AA784;  
    color: #EDE8E1;  
    font-size: 16px;
    padding: 14px 40px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.add-post-section button:hover {
    background-color: #A1B88D;  
    color: #EDE8E1; 
}

@media (max-width: 600px) {
    .add-post-section {
        padding: 20px; 
    }

    .input-group input,
    .input-group textarea {
        padding: 12px;  
    }

    .add-post-section button {
        width: 100%;  
    }
}
